<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../img/Reza.jpg" alt="reza" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Reza Irawan</h1>
      <p class="lead">Software Development Engineer</p>
    </div>
  </div>
</div>
